body{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
#shape{
     width: 200px;
     height: 200px;
     background-color: red;
     display: none;
     position: relative;
     
}
.heading{
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
}
.time{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}
.para{
   font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}